<!-- <p id="notice"><%#= notice %></p>

<%#= link_to 'Edit', edit_order_path(@order) %> |
<%#= link_to 'Back', orders_path %> -->
<h2>THANK YOU FOR SHOPPING</h2>
     <p>Your Order has been placed successfully</p> 
<div class="keep-shopping pv1 mt4 has-text-right">
  <%= link_to 'Keep Shopping', instruments_path, class: 'button is-warning' %>
</div>
